In [1]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [3]:
data = 'https://raw.githubusercontent.com/alexeygrigorev/datasets/master/housing.csv'
!wget $data

--2022-09-18 18:55:00--  https://raw.githubusercontent.com/alexeygrigorev/datasets/master/housing.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.111.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.111.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1423529 (1.4M) [text/plain]
Saving to: 'housing.csv'

     0K .......... .......... .......... .......... ..........  3% 1.19M 1s
    50K .......... .......... .......... .......... ..........  7% 89.8M 1s
   100K .......... .......... .......... .......... .......... 10% 61.8M 0s
   150K .......... .......... .......... .......... .......... 14% 2.81M 0s
   200K .......... .......... .......... .......... .......... 17% 17.7M 0s
   250K .......... .......... .......... .......... .......... 21% 76.6M 0s
   300K .......... .......... .......... .......... .......... 25% 2.46M 0s
   350K .......... .......... .......... .......... .......... 28% 11.6M 0s
   400K .......... .......... .......... .......... .......... 32% 63.6M 0s
   450K .......... .......... .......... .......... .......... 35% 15.3M 0s
   500K .......... .......... .......... .......... .......... 39% 59.4M 0s
   550K .......... .......... .......... .......... .......... 43% 3.13M 0s
   600K .......... .......... .......... .......... .......... 46% 12.8M 0s
   650K .......... .......... .......... .......... .......... 50% 65.9M 0s
   700K .......... .......... .......... .......... .......... 53% 9.95M 0s
   750K .......... .......... .......... .......... .......... 57% 15.8M 0s
   800K .......... .......... .......... .......... .......... 61% 2.98M 0s
   850K .......... .......... .......... .......... .......... 64% 28.7M 0s
   900K .......... .......... .......... .......... .......... 68% 16.1M 0s
   950K .......... .......... .......... .......... .......... 71% 4.24M 0s
  1000K .......... .......... .......... .......... .......... 75% 20.2M 0s
  1050K .......... .......... .......... .......... .......... 79% 6.18M 0s
  1100K .......... .......... .......... .......... .......... 82% 19.5M 0s
  1150K .......... .......... .......... .......... .......... 86% 57.0M 0s
  1200K .......... .......... .......... .......... .......... 89% 56.2M 0s
  1250K .......... .......... .......... .......... .......... 93% 72.3M 0s
  1300K .......... .......... .......... .......... .......... 97% 6.93M 0s
  1350K .......... .......... .......... ..........           100% 4.20M=0.2s

2022-09-18 18:55:01 (7.36 MB/s) - 'housing.csv' saved [1423529/1423529]

In [103]:
df = pd.read_csv('housing.csv')
len(df)

20640

In [104]:
df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY
...,...,...,...,...,...,...,...,...,...,...
20635,-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1.5603,78100.0,INLAND
20636,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568,77100.0,INLAND
20637,-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1.7000,92300.0,INLAND
20638,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672,84700.0,INLAND
20639,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,89400.0,INLAND

In [105]:
selected_columns = ['latitude',
'longitude',
'housing_median_age',
'total_rooms',
'total_bedrooms',
'population',
'households',
'median_income',
'median_house_value']

In [106]:
df = df[selected_columns]

In [20]:
df.isnull().any(axis=0)

latitude              False
longitude             False
housing_median_age    False
total_rooms           False
total_bedrooms         True
population            False
households            False
median_income         False
median_house_value    False
dtype: bool

In [16]:
# Question 1
df["total_bedrooms"].isnull().sum()

207

In [21]:
df["population"].median()

1166.0

In [107]:
# Size of whole dataset
n = len(df)

n_val = int(n*0.2) # Validation set size
n_test= int(n*0.2) # Test set size
n_train = n - n_val - n_test # Train set size

n_train, n_val, n_test

(12384, 4128, 4128)

In [38]:
np.random.seed(42)

idx = np.arange(n)
np.random.shuffle(idx)

df_shuffled = df.iloc[idx]

In [112]:
df

,latitude,longitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,37.88,-122.23,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0
1,37.86,-122.22,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0
2,37.85,-122.24,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0
3,37.85,-122.25,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0
4,37.85,-122.25,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0
...,...,...,...,...,...,...,...,...,...
20635,39.48,-121.09,25.0,1665.0,374.0,845.0,330.0,1.5603,78100.0
20636,39.49,-121.21,18.0,697.0,150.0,356.0,114.0,2.5568,77100.0
20637,39.43,-121.22,17.0,2254.0,485.0,1007.0,433.0,1.7000,92300.0
20638,39.43,-121.32,18.0,1860.0,409.0,741.0,349.0,1.8672,84700.0
20639,39.37,-121.24,16.0,2785.0,616.0,1387.0,530.0,2.3886,89400.0

In [76]:
df_train = df_shuffled.iloc[:n_train].copy()
df_val = df_shuffled.iloc[n_train:n_train+n_val].copy()
df_test = df_shuffled.iloc[n_train+n_val:].copy()

In [77]:
y_train_orig = df_train.median_house_value.values
y_val_orig = df_val.median_house_value.values
y_test_orig = df_test.median_house_value.values

y_train = np.log1p(df_train.median_house_value.values)
y_val = np.log1p(df_val.median_house_value.values)
y_test = np.log1p(df_test.median_house_value.values)

In [78]:
del df_train['median_house_value']
del df_val['median_house_value']
del df_test['median_house_value']

In [86]:
df_train

,latitude,longitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income
20046,36.06,-119.01,25.0,1505.0,NaN,1392.0,359.0,1.6812
3024,35.14,-119.46,30.0,2943.0,NaN,1565.0,584.0,2.5313
15663,37.80,-122.44,52.0,3830.0,NaN,1310.0,963.0,3.4801
20484,34.28,-118.72,17.0,3051.0,NaN,1705.0,495.0,5.7376
9814,36.62,-121.93,34.0,2351.0,NaN,1063.0,428.0,3.7250
...,...,...,...,...,...,...,...,...
10292,33.88,-117.81,19.0,2265.0,283.0,904.0,279.0,9.2327
16722,35.48,-120.68,15.0,2608.0,525.0,1351.0,502.0,2.7798
11730,38.98,-120.91,13.0,7689.0,1415.0,3264.0,1198.0,3.6530
5993,34.09,-117.72,36.0,1473.0,328.0,785.0,299.0,3.2566
15993,37.76,-122.47,34.0,2807.0,487.0,1152.0,445.0,5.1893

In [52]:

def train_linear_regression(X, y):
    ones = np.ones(X.shape[0])
    X = np.column_stack([ones, X])

    XTX = X.T.dot(X)
    XTX_inv = np.linalg.inv(XTX)
    w = XTX_inv.dot(X.T).dot(y)
    
    return w[0], w[1:]

In [65]:
def prepare_X_zero(df):
    df_num = df
    df_num = df_num.fillna(0)
    X = df_num.values
    return X

In [66]:
def prepare_X_mean(df):
    df_num = df
    df_mean = df["total_bedrooms"].mean(skipna=True)
    df_num = df_num.fillna(df_mean)
    X = df_num.values
    return X

In [80]:
# Question 3
X_train = prepare_X_zero(df_train)
w_0, w = train_linear_regression(X_train, y_train)

In [81]:
y_pred = w_0 + X_train.dot(w)

In [70]:
def rmse(y, y_pred):
    error = y_pred - y
    mse = (error ** 2).mean()
    return np.sqrt(mse)

In [82]:
# With Zero
rmse(y_train, y_pred)

0.34131359101566766

In [83]:
X_train = prepare_X_mean(df_train)
w_0, w = train_linear_regression(X_train, y_train)

In [84]:
y_pred = w_0 + X_train.dot(w)

In [85]:
# With mean
rmse(y_train, y_pred)

0.34104161810328065

In [87]:
# Question 4

def train_linear_regression_reg(X, y, r=0.0):
    ones = np.ones(X.shape[0])
    X = np.column_stack([ones, X])

    XTX = X.T.dot(X)
    reg = r * np.eye(XTX.shape[0])
    XTX = XTX + reg

    XTX_inv = np.linalg.inv(XTX)
    w = XTX_inv.dot(X.T).dot(y)
    
    return w[0], w[1:]

In [94]:
X_train = prepare_X_zero(df_train)
X_val = prepare_X_zero(df_val)

for r in [0, 0.000001, 0.0001, 0.001, 0.01, 0.1, 1, 5, 10]:
    w_0, w = train_linear_regression_reg(X_train, y_train, r=r)
    y_pred = w_0 + X_val.dot(w)
    print('%6s' %r, rmse(y_val, y_pred), round(rmse(y_val, y_pred),2))

     0 0.3295330365233305 0.33
 1e-06 0.3295330361651483 0.33
0.0001 0.3295330009705196 0.33
 0.001 0.32953270386684635 0.33
  0.01 0.3295319365998919 0.33
   0.1 0.3296947205397526 0.33
     1 0.3337887220007267 0.33
     5 0.33924853455044696 0.34
    10 0.34060638078091976 0.34

In [114]:
# Question 5



rms_collect = []
for seed in [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]:
    np.random.seed(seed)

    idx = np.arange(n)
    np.random.shuffle(idx)

    df_shuffled = df.iloc[idx]
    
    df_train = df_shuffled.iloc[:n_train].copy()
    df_val = df_shuffled.iloc[n_train:n_train+n_val].copy()
    df_test = df_shuffled.iloc[n_train+n_val:].copy()
    
    y_train_orig = df_train.median_house_value.values
    y_val_orig = df_val.median_house_value.values
    y_test_orig = df_test.median_house_value.values
    y_train = np.log1p(df_train.median_house_value.values)
    y_val = np.log1p(df_val.median_house_value.values)
    y_test = np.log1p(df_test.median_house_value.values)

    del df_train['median_house_value']
    del df_val['median_house_value']
    del df_test['median_house_value']
    
    X_train = prepare_X_zero(df_train)
    X_val = prepare_X_zero(df_val)
    w_0, w = train_linear_regression(X_train, y_train)
    y_pred = w_0 + X_val.dot(w)
    rms_collect.append(rmse(y_val, y_pred))
    print('%6s' %seed, rmse(y_val, y_pred), round(rmse(y_val, y_pred),2))

     0 0.3388430480531397 0.34
     1 0.336238725595591 0.34
     2 0.3320912318835945 0.33
     3 0.3405153609037871 0.34
     4 0.3389024066572963 0.34
     5 0.343486672571951 0.34
     6 0.3451980953099507 0.35
     7 0.3395989927411362 0.34
     8 0.346623087317672 0.35
     9 0.3365926124189902 0.34

In [115]:
rms_collect

[0.3388430480531397,
 0.336238725595591,
 0.3320912318835945,
 0.3405153609037871,
 0.3389024066572963,
 0.343486672571951,
 0.3451980953099507,
 0.3395989927411362,
 0.346623087317672,
 0.3365926124189902]

In [116]:
np.std(rms_collect)

0.004170771946464241

In [111]:
round(np.std(rms_collect),3)

0.004

In [134]:
# Question 6

np.random.seed(9)
idx = np.arange(n)
np.random.shuffle(idx)
df_shuffled = df.iloc[idx]
df_train = df_shuffled.iloc[:n_train].copy()
df_val = df_shuffled.iloc[n_train:n_train+n_val].copy()
df_test = df_shuffled.iloc[n_train+n_val:].copy()



y_train_orig = df_train.median_house_value.values
y_val_orig = df_val.median_house_value.values
y_test_orig = df_test.median_house_value.values
y_train = np.log1p(df_train.median_house_value.values)
y_val = np.log1p(df_val.median_house_value.values)
y_test = np.log1p(df_test.median_house_value.values)

del df_train['median_house_value']
del df_val['median_house_value']
del df_test['median_house_value']
    

X_train = prepare_X_zero(pd.concat([df_train,df_test]))
y_train = np.concatenate([y_train,y_test])
X_test = prepare_X_zero(df_test)
w_0, w = train_linear_regression_reg(X_train, y_train, r = 0.001)
y_pred = w_0 + X_test.dot(w)

rmse(y_test, y_pred)

0.3451373579640408